@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#root {
    @apply flex flex-col min-h-screen;
}

.nav-links-hover:hover::before {
    content: '/ ';
}

.nav-links-hover:hover::after {
    content: ' /';
}

.slick-dots {
    @apply -bottom-[30px];
}

.slick-dots li button:before {
    @apply text-[12px] text-white opacity-50;
}

.slick-dots li.slick-active button:before {
    @apply text-[#F6C900];
}

#socialMedia:checked+label,
#search:checked+label,
#awardShows:checked+label,
#events:checked+label,
#wordOfMouth:checked+label,
#referral:checked+label {
    @apply bg-[#F6C900];
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

input:valid ~ span,
input:invalid[focused="false"] ~ span,
select:valid ~ span,
select:invalid[focused="false"] ~ span {
    @apply hidden;
}

input:invalid[focused="true"] ~ span,
select:invalid[focused="true"] ~ span {
    @apply block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        font-family: 'Barlow', sans-serif;
    }
    
}

@layer utilities {

    .clip-cta {
        clip-path: polygon(14px 0%, 100% 0%, calc(100% - 14px) 100%, 0% 100%);
    }
 
 }